@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
    box-sizing: border-box;
    text-align: center;
    font-family: Papyrus, fantasy;;
    margin: 0!important;
    background: url('../img/halloween-2837936.png') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.heading {
    padding: 1rem;
    font-size: 2rem;
    
    font-weight: 700;
    color: rgb(43, 29, 9);
    text-shadow: 0px 3px 4px #ffa909,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.bg-cards {
    margin: 2rem 0 0;
    width: 90%;
    background-color: rgba(201, 148, 35, 0.377);
    padding-top: 1rem;
    /*box-shadow: 5px 5px 5px 5px rgba(27, 28, 29, 0.603);*/

    border: 1px solid #ad8a2a;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ad8a2a;
}




.card {
    border: 2px solid rgb(241, 240, 236);
    /*width: 4.5rem;*/
    /*height: 4.5rem;*/
}

.front {
    background-color: black;
    background: url('../img/witch-155291_1280.png') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter:  grayscale(80%);
    /*cursor: pointer;*/
    transition: ease-in-out .5s;
}

.front:hover {
    box-shadow: 0px 0px 20px rgba(14, 13, 11, 0.616);
    filter: grayscale(15%);
    transition: ease-in-out .5s;
}

.back {
    background-color: #182c419f;
}

.correct {
    background-color: rgba(40, 82, 40, 0.658);
    border: 2px solid rgba(178, 169, 143, 0.897);
    cursor: default;
}

.imgClass, .memoryImg {
    text-align: center;
    margin-top: .5rem;
    filter: grayscale(30%);
    max-height: 80%;
}

.modal {
    text-align: center;
    background-color: rgba(42, 59, 44, 0.486);
}

.modal-footer a {
    text-decoration: none;
    color: lemonchiffon;
}

.modal-title, .modal-body>p, .modal-footer>button {
    text-align: center;
}

.btn-start {
}

.timer-container {
    background-color: rgba(235, 190, 14, 0.37);
    border: 1px solid #ad8a2a;
    border-radius: 4px;
    box-shadow: 0px 0px 5px #ad8a2a;
    
}

#timer, #time {
    color: rgb(241, 240, 236);
    font-size: 1.62rem;
    font-family: 'Times New Roman', Times, serif;
}

.hidden {
    display: none;
}

.card-container {
    padding: 0;
    margin: 0;
}

.level-1 {
    width: 11rem;
    height: 11rem;
    margin-left: 0;
    margin-right: 0;
}

.level-2 {
    width: 10rem;
    height: 10rem;
}

.level-3 {
    width: 8rem;
    height: 8rem;
}


@media (min-width: 481px){
    
    .heading {
        font-size: 3rem;
        
    }

    .card {
        margin-bottom: 1rem;
    }
}

@media (min-width: 769px) {
    
    .heading {
        font-size: 4.5rem;
        
    }

    .bg-cards {
        width: 45rem;
        margin: 2rem 0 0;
    }

    /*.card {
        width: 11rem;
        height: 11rem;
    }*/
}

