@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700);

body {
    box-sizing: border-box;
    text-align: center;
    font-family: Papyrus, fantasy;;
    margin: 0;
    /*background: url('https://wallpaperaccess.com/full/636909.jpg') no-repeat center center fixed;*/
    background: url('https://i.pinimg.com/originals/95/88/22/958822d27856da0f0bfd921a3921f4b9.jpg') no-repeat center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}
.heading {
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: rgb(15, 25, 26);
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}

.bg-cards {
    margin: 5rem 2rem 0;
    width: 60vw;
    background-color: rgba(63, 97, 129, 0.637);
    padding-bottom: 2rem;
    border-radius: 2%;
    box-shadow: 5px 5px 5px 5px rgba(27, 28, 29, 0.603);
}

.card {
    border: 2px solid rgb(241, 240, 236);
    position: relative;
    margin: 2rem 0 0;
    width: 12rem;
    height: 10rem;
}

/*.card:hover {
    box-shadow: 3px 3px 3px #b2a98f ;
}*/

.front {
    background-color: black;
    background: url('https://c4.wallpaperflare.com/wallpaper/672/320/912/how-to-train-your-dragon-toothless-how-to-train-your-dragon-print-wallpaper-preview.jpg') no-repeat center center;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    filter:  grayscale(100%);
    cursor: pointer;
}

.front:hover {
    box-shadow: 3px 3px 3px #b2a98f;
}

.back {
    background-color: #3770ac9f;
}

.correct {
    background-color: rgba(66, 124, 66, 0.658);
    border: 2px solid rgba(178, 169, 143, 0.897);
    cursor: default;
}


.imgClass, .memoryImg {
    max-height: 9rem;
    text-align: center;

}

.modal {
    text-align: center;
}

.modal-footer a {
    text-decoration: none;
    color: lemonchiffon;
}

.modal-title, .modal-body>p, .modal-footer>button {
    text-align: center;
}